# Performs unit and integration testing

name: DragRace

# The events that trigger the workflow
on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    name: ${{ matrix.name }}

    strategy:
      fail-fast: false  # Prevents cancellation of remaining jobs if one fails
      matrix:
        include:
          - name: DragRace_Atm_Binned
            cmake_options: -DUseCUDAProb3=1 -DUseOscProb=1
            exec: DragRace
            argument: 10 NuOscillatorConfigs/Binned_CUDAProb3.yaml NuOscillatorConfigs/Binned_OscProb.yaml
          - name: DragRace_Atm_Unbinned
            cmake_options: -DUseCUDAProb3=1 -DUseOscProb=1
            exec: DragRace
            argument: 10 NuOscillatorConfigs/Unbinned_CUDAProb3.yaml NuOscillatorConfigs/Unbinned_OscProb.yaml
          - name: DragRace_Linear_Binned
            cmake_options: -DUseCUDAProb3Linear=1 -DUseNuFASTLinear=1 -DUseProb3ppLinear=1 -DUseOscProb=1 -DUseNuSQUIDSLinear=1 -DUseGLoBESLinear=1 -DUseCHICLinear=1
            exec: DragRace
            argument: 10 NuOscillatorConfigs/Binned_CUDAProb3Linear.yaml NuOscillatorConfigs/Binned_NuFASTLinear.yaml NuOscillatorConfigs/Binned_Prob3ppLinear.yaml NuOscillatorConfigs/Binned_OscProbLinear.yaml NuOscillatorConfigs/Binned_NuSQUIDSLinear.yaml NuOscillatorConfigs/Binned_GLoBESLinear.yaml NuOscillatorConfigs/Binned_CHICLinear.yaml
          - name: DragRace_Linear_Unbinned
            cmake_options: -DUseCUDAProb3Linear=1 -DUseNuFASTLinear=1 -DUseProb3ppLinear=1 -DUseOscProb=1 -DUseNuSQUIDSLinear=1
            exec: DragRace
            argument: 10 NuOscillatorConfigs/Unbinned_CUDAProb3Linear.yaml NuOscillatorConfigs/Unbinned_NuFASTLinear.yaml NuOscillatorConfigs/Unbinned_Prob3ppLinear.yaml NuOscillatorConfigs/Unbinned_OscProbLinear.yaml NuOscillatorConfigs/Unbinned_NuSQUIDSLinear.yaml
    container:
      image: ghcr.io/mach3-software/mach3:alma9v1.4.1

    steps:
    - uses: actions/checkout@v4

    - name: Get hdf5
      run: dnf install -y hdf5 hdf5-devel

    - name: Get NuOscillator
      run: |
        cd /opt/
        git clone ${{ github.event.pull_request.head.repo.clone_url }} NuOscillator
        cd NuOscillator
        git checkout ${{ github.head_ref }}
        mkdir build
        cd build
        cmake ../ -DUseGPU=0 -DUseMultithreading=1 -DUseDoubles=1 ${{ matrix.cmake_options }}

    - name: Build NuOscillator
      run: |
        cd /opt/NuOscillator/build
        make install # Build the project

    - name: Validations
      run: |
        source /opt/NuOscillator/build/Linux/bin/setup.NuOscillator.sh
        cd /opt/NuOscillator/
        build/Linux/bin//${{ matrix.exec }} ${{ matrix.argument }}
